@import '../../assets/styles/master.scss';

.logo {
    height: 36px;
    width: 210px;
    display: flex;
    place-content: center;
    
    @include mobileMode {
        padding: 0;
        width: 180px;
        justify-content: space-between;
        width: auto;
        height: 20px;

        img {
            height: 20px;
        }
    }
}