@import '../../assets/styles/master.scss';
.card {
    width: 210px;
    height: 150px;
    left: 609px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include mobileMode {
        width: auto;
        margin: 20px;
    }

    .card-items_name {
        font-family: $workSans;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: $textBlue;
    }

    .card-items_number {
        font-family: $workSans;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $primaryBlue;
    }
}