@import "../../assets/styles/master.scss";

.user {
  margin-top: 100px;
  padding: 60px 60px 0 60px;
  height: calc(100vh - 100px);
  overflow-y: scroll;

  @include mobileMode {
    width: 100vw;
    padding: 60px 20px 0px 20px;
  }

  @include tabletMode {
    width: 100vw;
    padding: 60px 60px 0px 60px;
  }

  .user-header {
    .user-header_name {
      font-family: $workSans;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: $primaryBlue;
      display: block;
      margin-bottom: 40px;
    }
  }

  .user-content {
    width: 100%;

    .user-cards-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 40px;

      @include mobileMode {
        justify-content: space-around;
        flex-direction: column;
      }
    }
  }
}

.user-content_users {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 30px 25px 0px 25px;
  overflow: auto;

  @include mobileMode {
    overflow: scroll;
  }

  @include tabletMode {
    overflow: scroll;
  }

  .users-table {
    min-width: 840px;
    width: 100%;

    .users-table_header {
      .users-table_header--row {
        display: grid;
        grid-template-columns: 14% 14% 20% 16% 18% 10% 5%;

        .users-table_head {
          height: 35px;
          display: flex;
          justify-content: flex-flex-start;
          margin-right: 3px;
          position: relative;

          .users-table-head_name {
            font-family: $workSans;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            color: $textBlue;
          }

          .table-head_filter {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.user-paging {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin: 17px 0;
  color: $textBlue;
  @include mobileMode {
    flex-direction: column;
    align-items: center;
  }

  .user-paging_out {
    display: flex;
    width: 13em;
    height: 24px;
    justify-content: space-between;

    #select-show {
      outline: none;
      border-radius: 4px;
      background-color: #a6b2cb;
      border: none;
      color: $textBlue;
      width: 50px;
      height: 30px;
      padding: 0 5px;
    }
  }

  .user-pagination {
    display: flex;
    width: 20em;
    justify-content: space-between;
    align-items: center;

    .arrow {
      background-color: #a6b2cb;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;

      #select-show {
        outline: none;
        border-radius: 4px;
        background-color: #a6b2cb;
      }
    }
  }
}

.active {
  background-color: #f3fcf6;
  color: #39cd62;
  text-align: center;
}
