@import "./master.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.app {
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: $maxLargeDestopMode;
  max-height: 1100px;
  overflow: hidden;
}

a {
  text-decoration: none;
}


